
<div class="alert alert-danger" *ngIf='message'>{{message}}</div>
<div class="px-3 py-3 col-md">


</div> 
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
    
      <th>Balance</th>
      <th>Credit</th>
      <th>Date</th>
      <th>Debit</th>
      <th>Id</th>
      <th>Remarks</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ben of transaction | paginate: { itemsPerPage: 5, currentPage: p };
    ">
      <!-- <td>{{i+1}}</td> -->
<!-- <tr> -->
      <!-- <td>{{ben.transId}}</td> -->
      <td>{{ben.balance | currency : 'INR'}}</td>
      <td>{{ben.credit}}</td>
      <td>{{ben.date}}</td>
      <td style="color:red">{{ben.debit | currency : 'INR'}}</td>
      <td>{{ben.id}}</td>
      <td>{{ben.remarks}}</td>  
        
        
        

    </tr>

  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
